<a href="https://colab.research.google.com/github/2303A51187/ADM-LAB/blob/main/LAB_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
data = {'Category': ['A', 'B', 'C', 'A', 'B']}
df = pd.DataFrame(data)

In [3]:
label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Category'])

In [4]:
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoded], axis=1)

In [5]:
print(df)

  Category  Label_Encoded  Category_A  Category_B  Category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

In [6]:
from datetime import datetime

In [8]:
data = {'Name': ['Alice', 'Bob'], 'Date_of_Birth': ['1990-05-14', '1985-08-23']}
df = pd.DataFrame(data)

In [9]:
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'])

In [10]:
current_year = datetime.now().year
df['Age'] = current_year - df['Date_of_Birth'].dt.year

In [11]:
print(df)

    Name Date_of_Birth  Age
0  Alice    1990-05-14   35
1    Bob    1985-08-23   40

In [14]:
import pandas as pd

data = {'Category': ['A', 'A', 'B', 'B', 'C'],
        'Value': [10, 20, 10, 30, 40]}
df = pd.DataFrame(data)

print(df)

  Category  Value
0        A     10
1        A     20
2        B     10
3        B     30
4        C     40

In [15]:
grouped = df.groupby('Category').agg({'Value': ['sum', 'mean']})
print("Grouped Data:\n", grouped)

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

In [16]:
pivot = df.pivot_table(index='Category', values='Value', aggfunc=['sum',
'mean'])
print("\nPivot Table:\n", pivot)

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0